.undo-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.undo-list-container {
  width: 500px;
}
.undo-list-title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.undo-list-counter {
  font-size: 14px;
  color: #666;
  background-color: #e6e6fa;
  border-radius: 50%;
  line-height: 20px;
  height: 20px;
  padding: 0 5px;
  text-align: center;
}
.undo-list-content {
  list-style-type: none;
}
.undo-list-item {
  line-height: 24px;
  height: 24px;
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #fff;
  border-left: 3px solid #629a9c;
  text-indent: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}
.delete-item {
  margin-right: 10px;
  background: #e6e6ea;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  text-indent: 0px;
}
