.header {
  height: 60px;
  background-color: #333;
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-input {
  width: 400px;
  margin-left: 50px;
  border-radius: 5px;
  height: 24px;
  outline: none;
}
