.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.list-container {
  width: 500px;
}
.list-title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.list-counter {
  font-size: 14px;
  color: #666;
  background-color: #e6e6fa;
  border-radius: 50%;
  line-height: 20px;
  height: 20px;
  padding: 0 5px;
  text-align: center;
}
.list-content {
  list-style-type: none;
}
.list-item {
  line-height: 40px;
  height: 40px;
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #fff;
  border-left: 3px solid #629a9c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}
.list-checkbox-item {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 2px;
}
.delete-item {
  margin-right: 10px;
  background: #e6e6ea;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
}
.list-div-item {
  width: 400px;
  margin-left: -10px;
  cursor: pointer;
}
.list-input-item {
  width: 400px;
  font-size: 24px;
  margin-left: -10px;
  outline: none;
  border: none;
  cursor: pointer;
}
